body {
    background-color: bisque;
}


#currency {
	width: 100%;
	padding: 20px 0;
}

#currency h2 {
	text-align: center;
	color: #77758a;
	margin-bottom: 20px;
}

#currency-from, #currency-to {
	width: 240px;
	box-sizing: border-box;
	padding: 5px;
	background: white;
	border: 3px solid #77758a;
    margin: 0 10px;
    border-radius: 5px;
}

#amount {
	width: 115px;
	box-sizing: border-box;
	border: 3px solid #77758a;
	padding: 3px;
    border-radius: 5px;
}

/* Increase Opacity of Placeholder */
#amount::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
  }
  
  #amount:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 1;
  }
  
  #amount::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 1;
  }

#submit {
	background: #77758a;
	color: white;
	border: none;
	padding: 5px 3px;
	box-sizing: border-box;
	width: 100px;
	margin: 0;
    border-radius: 5px;
}

#holiday {
    height: 10rem;
    overflow-y: scroll;
}